params {
    input_csv                  = "$baseDir/tests/data/input/input.csv"
    publish_dir                = "results/bj-expression"

    skip_subsampling           = true
    skip_fastq_merge           = true

    max_memory                 = 50.GB
    max_cpus                   = 8
    max_time                   = 1.h

}

process {
    containerOptions = "--env LOCAL=true "
}